<%= simple_form_for @item do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :title %>
  </div>
  <div class="field">
    <%= f.input :notes %>
  </div>
  <div class="field">
    <%= f.input :done %>
  </div>
  
  <div class="field">
    <%= hidden_field_tag "item[tags]", nil %>
    <%= text_field_tag "item[tags]", @tags, id: "tags", placeholder: "Add the tags..." %>
  </div>

  <script>
    $(function() {
      $("#tags").tagsinput('items');
    });
  </script>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
