<%= simple_form_for @item do |f| %>
    <%= error_field(@item) %>

    <%= f.input :title %>
    <%= f.input :notes, as: :text, :input_html => { :rows => 10 } %>
    <%= f.input :done %>
    <%= hidden_field_tag "item[tags]", nil %>
    <%= text_field_tag "item[tags]", @tags, id: "tags", placeholder: "Add tags..." %>
    <div class="field"><%= f.submit %></div>

<% end %>

<script>
  $(function() {
    $("#tags").tagsinput('items');
  });
</script>
