<%= print_notice(notice) %>
<div class="container-wrap">

  <div class="main-block">
    <%= link_to "Add new task", new_item_path, class:"btn btn-primary" %>
    <% if @items.any? %>
      <h1>Listing Items</h1>
      <table class="table tasks_list table-hover" id="sortable">
          <% @items.each do |item| %>
            
            <tr data-item-id="<%= item.id %>" class="item">
              <td class="<%= (item.done) ? "warning" : "success" %> task_item" title="<%= is_closed_text(item.done) %>">

                  <div class="item_header">
                    <div class="item-title header-line"><%= link_to item.title, item %></div>
                    <div class="item-status header-line status <%= is_closed_text(item.done).downcase %> ">
                      <%= is_closed_text(item.done) %>
                      <%= link_to "Edit", edit_item_path(item), class: "btn btn-primary btn-sm" %>
                      <%= link_to "Remove", item, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } %>
                    </div>

                    <div class="item_header_tags">
                      Tags: <%= print_tags(item.tags, link: true) %>
                    </div>
                  </div>
                  <hr class="item_line" />
                  <div class="item_notes">
                    <%= truncate(item.notes, :length => 400) %>          
                  </div>
                  <div class="item_date">
                    <span>
                      Created: <%= time_pretty_format(item.created_at) %>
                    </span>
                    <span>
                      Modified: <%= time_pretty_format(item.updated_at) %>
                    </span>
                  </div>
              </td>
            </tr>
          <% end %>
      </table>

    <script type="text/javascript">
      $(function() {
        var cells, desired_width, table_width;
        if ($('#sortable').length > 0) {
          table_width = $('#sortable').width();
          cells = $('.table').find('tr')[0].cells.length;
          desired_width = table_width / cells + 'px';
          $('.table td').css('width', desired_width);
            $('#sortable').sortable({
            axis: 'y',
            items: '.item',
            cursor: 'move',
            sort: function(e, ui) {
              ui.item.addClass('active-item-shadow');
            },
            stop: function(e, ui) {
              ui.item.removeClass('active-item-shadow');
              ui.item.children('td').effect('highlight', {}, 1000);
            },
            update: function(e, ui) {
              var item_id, position;
              item_id = ui.item.data('item-id');
              position = ui.item.index();
              $.ajax({
                type: 'POST',
                url: '/items/update_row_order',
                dataType: 'json',
                data: {
                  item: {
                    item_id: item_id,
                    row_order_position: position
                  }
                }
              });
            }
          });
        }
      });
    </script>

    <% else %>
      <h3>Create new task!</h3>
    <% end %>
  </div>

  <div class="filter-panel">
    <%= render 'filter' %>
  </div>

</div>