<% title "Show ##{params[:id]}" %>

<%= print_notice(notice) %>

<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>

<p>
  <strong>Status:</strong>
  <%= is_closed_text(@item.done) %>
</p>

<p>
	<strong>Tags:</strong>
	<%= print_tags(@item.tags) %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
